

# IDEs
.vscode/
.idea/

# Archives
*.7z
*.gz
*.rar
*.tar
*.tz
*.zip

# Sensitive
*.pem
*.crt
*.csr
*.key

# macOS
.DS_Store

# Just Ignore
*.x
*-ignore
.*.swp


# -----------------------------------------------------------------------------
# Node
#
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# -----------------------------------------------------------------------------

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# playwright
/test-results
/playwright-report
/blob-report
/playwright/.cache

# Misc
*.tsbuildinfo

# Sensitive Data
localization.js
localization.ts
api-localization.js
src/server/.env

# Env Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

